* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

main {
  padding-top: 6rem;
  min-height: 100vh;
  margin-left: 19em;
  padding-right: 1em;

}

body {
  background-color: #f5f5f5;
}

header {
  background-color: #3e64af;
  color: #fff;
  height: 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: space-between;
}

header h1 {
  margin: 0;
}

header img {
  width: 3rem;
  filter: invert();
  cursor: pointer;
}

section {
  margin-bottom: 50px;
}

section h2 {
  margin-bottom: 20px;
}

section p {
  margin-bottom: 20px;
}

section a {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 20px;
}

section a:hover {
  background-color: #3e8e41;
}


/* Style for form */
form {
  margin: 20px 0;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
select {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  padding: 1em 3em 1em 1em;
}
form input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style for user list */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2em;
}

table caption {
  text-align: left;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4caf50;
  color: white;
}

td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d32f2f;
}
