:root {
  --accent: #3e64af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
}

/* Login Page  */
.login-page .login-container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-page .login-container h1 {
font-weight: 800;
font-size: 48px;
}
.login-page .login-container p {
font-weight: 600;
font-size: 20px;
}
.login-page .login-container label {
font-weight: 400;
font-size: 24px;
}
.login-page .login-container button {
font-weight: 600;
font-size: 20px;
}

.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.login-page .noverint-text h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 64px;
}
.login-page .noverint-text p {
  font-weight: 500;
  font-size: 22px;
}
.login-page .noverint-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}




form label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

form input[type="text"],
form input[type="password"] {
  all: unset;
  text-align: left;

  border: none;
  border-bottom: 2px solid grey;

  display: block;
  font-size: 1.5rem;
  margin-bottom: 20px;

  width: 100%;
}

form button[type="submit"] {
  background-color: var(--accent);
  border: none;
  border-radius: 50px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  font-family: Poppins, sans-serif;
}

form button[type="submit"]:hover {
}

p {
  margin-top: 20px;
}

/* styles for footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Styles for sidebar nav menu */
nav {
  background-color: #333;
  color: #fff;
  height: 100%;
  width: 14rem;
  position: fixed;
  top: 5rem;
  left: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav li:hover {
  background-color: #1c1c1c;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 2rem;
  display: block;
  width: 100%;
  height: 100%;
}


nav a.active {
  font-weight: bold;
  color: #3e64af;
  background-color: #1c1c1c;







}

/*  Dashboard page */
.dashboard-section .modules {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  row-gap: 20px;
}
.dashboard-section .modules .mini-module {
  width: 22.5%;
  height: 200px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard-section .modules .big-module {
  width: 47.5%;
  height: 200px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
